{% extends 'layout.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="top-container mb-4 row g-0 rounded-4">
            <div class="col-8 border-end border-3">
                <div class="row text-center">
                    <div class="col p-4 pb-0 fs-3">
                        <label for="yearSelect">Year: </label>
                        <select id="yearSelect">
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-between text-center">
                    <div class="col p-4 pb-0 fs-2">
                        <div>Expense</div>
                        <div id="expense" class="fw-bold text-danger"></div>
                    </div>
                    <div class="col p-4 pb-0 fs-2">
                        <div>Income</div>
                        <div id="income" class="fw-bold text-success"></div>
                    </div>
                    <div class="col p-4 pb-0 fs-2">
                        <div>Net</div>
                        <div id="net" class="fw-bold"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-4">
                        <div id="chartLabel" class="fs-1 text-center mb-2"></div>
                        <canvas id="chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col p-4">
                <h4>Recent Transactions</h4>
                <table class="table">
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.description[0:20] }}</td>
                            <td class="{{ transaction.amount > 0 ? 'text-success fw-bold' : '' }}">
                                {{ transaction.amount < 0 ? '-' : '' }}${{ transaction.amount | abs | number_format(2) }}
                            </td>
                            <td>
                                <div>{{ transaction.category ? transaction.category.name : 'N/A' }}</div>
                                <div>{{ transaction.date | date('m/d/Y') }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="categories-container" class="categories-container row pb-3">
            <div id="category-item" class="col" hidden="hidden">
                <div class="category-card p-4 text-center d-flex align-items-center justify-content-center">
                    <div>
                        <h6 id="category-item-name" class="fs-6 fw-normal"></h6>
                        <h1 id="category-item-total" class="fs-1 text-danger text-opacity-75"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
